@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Montserrat:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(230, 176, 0);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}

.main {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.settings {
    background-color: rgba(0, 0, 0, 0.637);
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    flex-direction: row;
}

.settings h3 {
    font-size: 50px;
    color: white;
    text-align: center;
}

.difficult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

#start {
    position: absolute;
    top: 600px;
    left: 600px;

}


.win {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.637);
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
}

.title  {
    color: white;
    font-size: 80px;
    margin-bottom: 80px;
}

button {
    background-color: rgb(230, 176, 0);
    width: 200px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
}

.border {
    border: 2px solid black;
}

button:active {
    background-color: orange;
    outline: none;
}

.settings button {
    margin: 10px;
} 

.clicado {
    border: 2px dashed black;
}

#easy {
 background-color: green;
}

#medium {
    background-color: yellow;
}

#hard {
    background-color: red;
}

.circle_white {
    background-color: rgb(255, 255, 255);
    height: 90px;
    width: 100px;
    border-radius: 180px;
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 68px;
    margin-left: 150px; 
}



.main p  {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: absolute;
    bottom: 150px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: 400;
    position: absolute;
}

.circle {
    width: 38px;
    height: 38px;
    border: 3px solid black;
    border-radius: 150px;
    background-color: #FFC83D;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    margin-left: 39px;
    transform: rotate(22.5deg);
}

.circle::after {
    content: "?";
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.emoji  {
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 3px;
}

.box, .menu {
    background-color: white;
    border: 3px dashed black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    width: 900px;
    height: 700px;
    
}

.menu {
    width: 300px;
    height: 700px;
    margin-left: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 120px;
    justify-content: center;
    align-items: center;
}

.back, .front {
    width: 100px;
    height: 120px;
    border-radius: 10px;
    border: black solid 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back::after {
    content: "?";
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}

.back {
    background-color: #FFC83D;
}

.front {
    font-size: 30px;
}

.acertou {
    background-color: green;
}

.timer {
    background-color: rgb(219, 218, 218);
    width: 210px;
    border-radius: 3px;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px dashed black;
    border-radius: 10px;
    flex-direction: column;
    margin-bottom: 10px;
}

.blocked {
    pointer-events: none;
    /* Outras propriedades de estilo, se necessário */
}
.acertos {
    background-color: rgb(219, 218, 218);
    width: 210px;
    border: 3px dashed black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    margin-top: 10px;
}   


@media only screen and (min-width: 1312px) {
 .circle_white {
 	top: 283px;
	left: 297px;
  }
.box, .menu {
    height: 500px;
	border-radius: 25px;
}
.box {
 	width: 800px;
}
.menu {
	width: 300px;
}

.back, .front {
    width: 60px;
    height: 80px;
   	border: black solid 3px;
	font-size: 30px;
}

.back::after {
	font-size: 30px;
	}
}

@media only screen and (min-width: 1600px) {
    .circle_white {
        top: 283px;
       left: 297px;
     }
   .box, .menu {
       height: 500px;
       border-radius: 25px;
   }
   .box {
        width: 800px;
   }
   .menu {
       width: 300px;
   }
   
   .back, .front {
       width: 60px;
       height: 80px;
          border: black solid 3px;
       font-size: 30px;
   }
   
   .back::after {
       font-size: 30px;
       }
   }